#a{
    color: var(--black);
}
#h{
    background: rgba(191, 234, 243, 0.419);
    font-family: sans-serif;
}

#pro{
    width: 70%;
    background-clip: padding-box;
    box-shadow: 0 0 10px #d6bcff;
    background-color: #ffffff;
    text-align: center;
    padding: 30px;
    border: 10px;
    color: #b5cbfb;
    border: solid;
    
}

#nose{
    display: inline-block;
    padding: 25px 25px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #3498db;
    color: #3498db;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
#si{
   background: rgba(191, 234, 243, 0.419);
    font-family: sans-serif; 
}

.button-container{
    display: inline-block;
    margin-right: 10px;
}
div{
    overflow: auto;
}
.bloque{
    max-width: 600px; 
    margin: 0 auto;
}
