body{
    display: flex;
    flex-direction: column;
    
}
/*section 1*/

.columna {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    background: #030203;
    border-radius: 6%;
    margin: 4vw;
    padding: 4vw;
}

.fila {
    display: flex;
    flex-direction: column;
}

.murcielago img,
.plastic img,
.muchotxt img,
.verde img,
.dinobonito img {
    margin: 1vi;
    width: 90%;
    height: auto;
    border-radius: 6%; /* Añade esquinas redondeadas (opcional) */
}

.lagartija img{
    margin: 1vi;
    width: 100%;
    height: 100%;
    border-radius: 6%;
}

.lagartija{
  width:auto;
  height: auto;
  grid-column: span 2;
  object-fit: cover;
}
/*section2*/
.section2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 90%;
    background: #030203;
    border-radius: 6%;
    margin: 4vw;
    padding: 4vw;
}
.collage img{
    width: 100%;
    height: 95%;
    margin: 1vi;
    border-radius: 6%;
}
.column1{
    display: flex;
    flex-direction: column;

}
