@font-face {
    font-family: 'Open sans, Regular';
    src: url(letrita/OpenSans-Regular.ttf) format('truetype');
}

@font-face{
    font-family: 'Open sans, SemiBold';
    src: url(letrita/OpenSans-SemiBold.ttf) format('truetype');
}
html{
    margin: 0%;
    padding: 0%;
    height: 100vw;
    width: 100vh;
}

body{
    margin: 0%;
    width: 100vw;
    height: 100vh;

}

.fondowite{
    position: absolute;
    margin: 0%;
    padding: 0%;
    width: 92.2vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}


#metrix{
    position: absolute;
    top: 42px;
    left: 59px;
    width: 269px;
    height: 60px;
    padding: 0%;
}

#avr{
    font-family: 'Open sans, Regular';
    top: 56px;
    left: 960px;
    width: 1769px;
    height: 55px;
    font-size: 30px;
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 0%;
}

#eso{
    font-family: 'Open sans, Regular';
    border: none;
    cursor: pointer;
    background: transparent;
    text-align: left;
    font-size: 30px;
    padding: 0%;
    top: 56px;
    left: 1333px;
    width: 181px;
    height: 55px;
    position: absolute;
}

#carrito{
    position: absolute;
    top: 52px;
    left: 1224px;
    width: 33px;
    height: 32px;
    background: transparent;
}

.barra{
    float: right;
    width: 7.9vw;
    height: 100vh;
    background: #212020;
    border-top-right-radius: 10px;
}