@font-face {
    font-family: 'Open sans, Regular';
    src: url(letrita/OpenSans-Regular.ttf) format('truetype');
}

@font-face{
    font-family: 'Open sans, SemiBold';
    src: url(letrita/OpenSans-SemiBold.ttf) format('truetype');
}
html{
    margin: 0%;
    padding: 0%;
    height: 100vw;
    width: 100vh;
}

body{
    margin: 0%;
    width: 100vw;
    height: 100vh;

}

.anuemo{
    padding:0%;
    margin: 0%;
    width: 1920px;
    height: 1080px;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #E6E6E6 21%, #808080 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.fondowite{
    position: absolute;
    top: 200px;
    left: 100px;
    width: 1390px;
    height: 800px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    z-index: 1;
}


#metrix{
    z-index: 1;
    position: absolute;
    top: 243px;
    left: 143px;
    width: 196px;
    height: 44px;
}

#avr{
    position: absolute;
    z-index: 1;
    top: 240px;
    left: 800px;
    width: 230px;
    height: 41px;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    font-family: 'Open sans, Regular';
    font-size: 25px;
    opacity: 1;
    border: none;
    background: transparent;
    cursor: pointer;
}

#eso{
    position: absolute;
    z-index: 1;
    top: 242px;
    left: 1072px;
    width: 132px;
    height: 41px;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    font-family:'Open sans, Regular';
    font-size: 25px;
    opacity: 1;
    border: none;
    background: transparent;
    transition: transform 1.5s ease;
    cursor: pointer;
}

#carrito{
    position: absolute;
    z-index: 1;
    top: 252px;
    left: 1324px;
    width: 33px;
    height: 23px;
    opacity: 1;
}

#lupix{
    position: absolute;
    z-index: 1;
    top: 252px;
    left: 1224px;
    width: 27px;
    height: 27px;
    opacity: 1;
}

#upp{
    position: absolute;
    z-index: 1;
    top: 240px;
    left: 1433px;
    width: 24px;
    height: 14px;
    opacity: 1;
}

img#down{
    position: absolute;
    z-index: 1;
    top: 946px;
    left: 1433px;
    width: 24px;
    height: 14px;
}

p#text1{
    position: absolute;
    top: 861px;
    left: 158px;
    width: 716px;
    height: 55px;
    font-family: 'Open sans, SemiBold';
    font-size: 30px;
    z-index: 1;
    width: 716px;
    height: 55px;
}

p#text2{
    position: absolute;
    top: 924px;
    left: 157px;
    width: 139px;
    height: 37px;
    font-family: 'Open sans, SemiBold';
    font-size: 17px;
    z-index: 1;
    width: 139px;
    height: 37px;

}

a#text3{
    position: absolute;
    cursor: pointer;
    font-size: 26px;
    text-decoration: none;
    top: 60px;
    left: 25px;
    width: 111px;
    height: 36px;
    font-family: 'Open sans, SemiBold';
    z-index: 1;
 
}

img#bro{
    position: absolute;
    left: 20px;
    top: 10px;
    width: 129px;
    height: 29px;
    z-index: 2;
}

.verde{
    position: absolute;
    top: 847px;
    left: 1180px;
    width: 160px;
    height: 114px;
    z-index: 1;
    background-color: #D5FF43;
    border-radius: 8px;
    text-align: center;
}

img#tarjeta{
    position: absolute;
    top: 322px;
    left: 227px;
    width: 884px;
    height: 497px;
    z-index: 2;
}

.barra{
    position: absolute;
    top: 200px;
    left: 1390px;
    width: 110px;
    height: 801px;
    background: #212020 0% 0% no-repeat padding-box;
    border-radius: 0px 8px 8px 0px;
    opacity: 1;
    z-index: 1;
}